/* Main content (about) */

.first-section {
    height: fit-content;
    min-height: calc(100dvh - 140px);
}

.main-text {
    font-size: px;
    color: var(--dark-gray);
    margin: 0 auto;
    padding: 0 80px;
    line-height: 1.6;
}

@media only screen and (max-width: 930px) {
    .main-text {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 530px) {
    .main-text {
        font-size: 18px;
    }
}