/* Main content (donate) */

.first-section {
    min-height: calc(100vh - 140px);
    height: fit-content;
}

.main-text {
    font-size: 18px;
    color: var(--dark-gray);
    margin: 0 80px;
}

.donate-btn {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    background-color: var(--red);
    text-decoration: none;
    margin: 50px auto;
}

@media only screen and (max-width: 930px) {
    .main-text {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 530px) {
    .main-text {
        font-size: 18px;
    }
}