/* Footer */

.footer {
    background-color: #000;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.footer-sticky {
    /* position: fixed; */
    /* bottom: 0; */
    max-width: 1000px;
    width: 100%;
}
.footer-text {
    color: #fff;
    font-size: 12px;
}

.vinetecha {
    color: #fff;
}