/* Main content (index) */

.main-text {
    margin-top: 40px;
}

.main-text-item {
    color: var(--dark-gray);
    font-size: 44px;
    line-height: 1.2;
}

.main-text-item-small {
    color: var(--dark-gray);
    font-size: 18px;
    max-width: 500px;
    margin-top: 20px;
}

.star-section {
    margin: 80px 85px 60px 110px;
    /* text-align: center; */
}

.star-section-text-item-small {
    color: var(--dark-gray);
    font-size: 18px;
}

.first-section {
    /* margin: 60px 55px 30px 80px; */
    padding: 60px 55px 30px 80px;
    display: flex;
    justify-content: space-between;
    background-image: url('/images/gray_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-buttons {
    margin-top: 120px;
    padding: 0 4px;
}

.main-buttons-mobile {
    display: none;
    flex-direction: column;
}

.store-badge-img {
    margin: 5px 0;
    width: 200;
    height: auto;
}

#phone-div-mobile {
    display: none;
    margin: 0 auto;
}

#phone-div {
    position: relative;
    overflow: hidden;
    max-width: 400px;
    /* margin: 0 auto; */
    border-radius: 0.5rem;
    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.5);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.carousel-control svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    stroke: white;
}

.carousel-indicators-custom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
    padding: 0;
    margin: 0;
}

.carousel-indicators-custom .indicator {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s, opacity 0.3s;
}

.carousel-indicators-custom .indicator.active {
    background-color: gray;
    opacity: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/* Features (index) */

/* .features-section {
    padding: 60px 80px;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.feature-heading {
    /* color: var(--red); */
    margin: 0 30px;
    font-size: 18px;
}

.feature-text {
    color: var(--dark-gray);
    margin: 20px 30px;
    font-size: 14px;
}

.features-item {
    background: linear-gradient(180deg,#fefefe,#ffffff);
    border-radius: 12px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 10px 30px rgba(6,10,20,0.06);
    color: var(--dark-gray);
    
}

.feature-number {
    font-size: 48px;
    font-weight: 700;
    color: var(--red);
    margin-bottom: 12px;
    margin-left: 20px; /* Move the number to the right */
    text-align: center; /* Center-align the feature number */
    line-height: 1.2; /* Adjust line height for better spacing */
}

.features-page-index {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    padding: 80px;
}

/* Testimonials (index) */

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 80px;
    background-color: #fff;
}

.testimonial-card {
    background: linear-gradient(180deg,#fefefe,#ffffff);
    border-radius: 12px;
    padding: 22px;
    box-shadow: 0 10px 30px rgba(6,10,20,0.06);
    color: var(--dark-gray);
    transform: translateY(0);
    transition: transform .2s ease-in-out;
}

.location {
    font-weight: 600;
}

.testimonial-card:hover {
    transform: translateY(-6px);
}

.author {
    margin-top: 12px;
    font-weight: 600;
}

/* Call to action (index) */

.cta {
    padding: 80px 0;
}

.ready {
    color: var(--red);
    margin: 10px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.download {
    color: var(--dark-gray);
    margin: 10px 10px 30px 10px;
    font-size: 20px;
    text-align: center;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Media */

@media only screen and (max-width: 1000px) {
    .features-page-index {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 930px) {
    .first-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 55px 30px 55px;
    }
    .main-text-item {
        font-size: 36px;
        text-align: center;
    }
    .main-buttons {
        display: none;
    }
    .store-badge-mobile {
        margin: 0 10px;
    }
    .main-buttons-mobile {
        display: flex;
        margin-top: 30px;
    }
    #phone-div-mobile {
        display: block;
        width: fit-content;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 0.5rem;
    }
    #phone-div {
        display: none;
    }
    .feature-heading {
        margin: 0 20px;
    }
    .feature-text {
        margin: 20px 20px;
    }

    .star-section-text-item-small {
        text-align: center;
    }

    .main-text-item-small {
        text-align: center;
        margin: 40px 0;
    }

    .carousel-indicators-custom {
        bottom: 0px;
    }
}

@media only screen and (max-width: 900px) {
    .testimonial-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .first-section {
        margin: 30px 20px 50px 20px;
    }
    
    .features-section {
        padding: 50px 20px 80px 20px;
    }
    
    .main-text-item {
        font-size: 32px;
    }
    

    .testimonial-grid {
        padding: 50px 20px 20px 20px;
    }

    .features-page-index {
        padding: 50px 20px 80px 20px;
    }

    .star-section {
        margin: 50px 40px 80px 40px;
    }
}


@media only screen and (max-width: 470px) {
  .download {
        padding: 0 60px;
    }
}



@media only screen and (max-width: 450px) {
    .features-section {
        padding: 50px 20px 0 20px;
    }
    .testimonial-grid {
        padding: 20px 20px;
    }
    /* .feature-heading {
        font-size: 22px;
    }
    .feature-text {
        font-size: 18px;
    } */
}

@media only screen and (max-width: 400px) {
    .cta-buttons {
        flex-direction: column;
        align-items: center;
    }
    .ready {
        padding: 0 40px;
    }
}